<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>UCAB GO - Gestion de encuentro</title>

    <%- include("partials/head") %>
  </head>
  
  <body>
    <%- include("partials/navigation") %>

      <!-- HEADER -->
      <div class="container p-4">
          <div class="row justify-content-md-center" >
              <div class="col col-md-6">
                  <div class="card p-4">
                    <h4>Especifica tus condiciones de punto de encuentro</h4>
                    <form action="/dar/solicitudes_para_viaje">
                        <!-- <div class="d-flex justify-content-center">
                            <img class="mb-4" src="/img/Logo.png"  alt="Logo ucab GO"  
                            width="200"  height="200"    />
                        </div> -->
        
                        <!-- Hora de salida -->
                        <div class="mb-3">
                            <label for="hora_salida" class="form-label">Hora de salida</label>
                            <input type="time" class="form-control" id="hora_salida"    aria-describedby="emailHelp" placeholder="Ingrese correo electronico" required>
                        </div>
        
                        <!-- Contraseña -->
                        <div class="mb-3">
                            <label for="lugar_de_encuentro" class="form-label">Punto de encuentro</label>
                            <input type="text" class="form-control" id="lugar_de_encuentro" placeholder="Ingrese el punto de recogida de sus pasajeros" required>
                        </div>



 
                        <!-- Maximo de pasajeros -->
                        <div class="mb-3">
                            <label for="numero_pasajeros" class="form-label">Numero maximo de pasajeros</label>
                            <select class="form-select"  required>
                                <option value="">Selecciona la cantidad de pasajeros maximo, que llevaras</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                            </select>
                        </div>
  
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block col-md-12">Crear viaje</button>
                        </div>
                        
                        <div class="mb-3 text-center">
                            <a href="/dar/seleccion_zona" class="text-muted ">¿Quieres elegir otra zona ? vuelve</a>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <!-- JAVASCRIPT CDNS -->
    <!-- Bootstrap -->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"  />
  </body>
</html>
