<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>UCAB GO - Iniciar sesion</title>

    <%- include("partials/head") %>
    <link href="/signin.css" rel="stylesheet" />
  </head>

  <body class="text-center">
    <!-- HEADER -->

    <main class="form-signin w-100 m-auto">
      <form>
        <img class="" src="/img/Logo.png"  alt="Logo ucab GO"  width="250"  height="250"    />
        <h1 class="h3 mb-3 fw-normal">Inicia sesion 😊</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="nombre@est.ucab.edu.ve"/>
          <label for="floatingInput">Correo electronico</label>
        </div>

        <div class="form-floating">
          <input  type="password"  class="form-control" id="floatingPassword"    placeholder="Password"/>
          <label for="floatingPassword">Contraseña</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Iniciar sesion</button>
        <a href="/registro" class="text-muted ">¿Aun no tienes una cuenta? Registrate👌</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p>
      </form>
      <a href="/dashboard">mientras</a>
    </main>

    <!-- JAVASCRIPT CDNS -->
    <!-- Bootstrap -->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"  />
  </body>
</html>
