<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ucab GO - Solicitudes de pasajeros </title>
    <%- include("partials/head") %>

</head>
<body>
    <%- include("partials/navigation") %>

    <div class="container p-4">
        <div class="row justify-content-md-center mb-4">
            <div class="col  col-sm-6">

                <div class="card">
                    <h5 class="card-header">Informacion del viaje</h5>
                    <div class="card-body">
                    <h5 class="card-title">Destino: los olivos</h5>
                    <p class="card-text">Cantidad de pasajeros actuales <b>1</b></p>
                    <a href="/en_viaje" class="btn btn-success">Iniciar viaje</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-md-center mb-4">
            <div class="col  col-sm-12">
                <div class="card" >
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col col-md-1 col-sm-4 d-flex justify-content-center">
                                <img src="https://i.pinimg.com/originals/3d/5a/e3/3d5ae3920e9834590458c26dd79f340d.jpg"
                                class="rounded-circle " width="70" height="70
                                alt="">

                            </div>
                            <div class="col col-md-4 col-sm-4">
                                <h5 class="card-title">Nombre de la persona</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Estudiante</h6>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <p class="card-text">
                              Mensaje generico Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sed laborum,
                            </p>

                        </div>
                        <a href="#" class="btn btn-success btn-sm">Agregar a viaje</a>


                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center mb-4">
            <div class="col  col-sm-12">
                <div class="card" >
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col col-md-1 col-sm-4 d-flex justify-content-center">
                                <img src="https://i.pinimg.com/originals/3d/5a/e3/3d5ae3920e9834590458c26dd79f340d.jpg"
                                class="rounded-circle " width="70" height="70
                                alt="">

                            </div>
                            <div class="col col-md-4 col-sm-4">
                                <h5 class="card-title">Nombre de la persona</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Estudiante</h6>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <p class="card-text">
                              Mensaje generico Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sed laborum,
                            </p>

                        </div>
                        <a href="#" class="btn btn-success btn-sm">Agregar a viaje</a>


                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center mb-4">
            <div class="col  col-sm-12">
                <div class="card" >
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col col-md-1 col-sm-4 d-flex justify-content-center">
                                <img src="https://i.pinimg.com/originals/3d/5a/e3/3d5ae3920e9834590458c26dd79f340d.jpg"
                                class="rounded-circle " width="70" height="70
                                alt="">

                            </div>
                            <div class="col col-md-4 col-sm-4">
                                <h5 class="card-title">Nombre de la persona</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Estudiante</h6>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <p class="card-text">
                              Mensaje generico Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sed laborum,
                            </p>

                        </div>
                        <a href="#" class="btn btn-success btn-sm">Agregar a viaje</a>


                    </div>
                </div>
            </div>
        </div>

 

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>